# Copiar a .env y ajustar antes de levantar con docker compose
MSSQL_SA_PASSWORD=CambiaEsto_123!
CONNECTION_STRING=Server=db,1433;Database=TbtbSalud;User Id=sa;Password=CambiaEsto_123!;TrustServerCertificate=True
WEB_ORIGIN=http://localhost:4200
API_URL=http://localhost:8080
